@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --font-1: "Montserrat", sans-serif;
  --font-2: "Fraunces", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-1);
  background-color: var(--cream);
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  max-width: 343px;
  display: flex;
  flex-direction: column;
}

.card__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.card__image-container .img-mobile {
  display: block;
}

.card__content {
  padding: 1.5rem;
}

.card__category {
  font-family: var(--font-1);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--dark-grayish-blue);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.card__title {
  font-family: var(--font-2);
  color: var(--very-dark-blue);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.card__description {
  font-family: var(--font-1);
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.card__price-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.card__price-current {
  font-family: var(--font-2);
  color: var(--green-500);
  font-size: 2rem;
}

.card__price-original {
  font-family: var(--font-1);
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
.card__btn {
  width: 100%;
  border: none;
  background-color: var(--green-500);
  color: var(--white);
  padding: 1rem;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-family: var(--font-1);
  font-size: 0.875rem;
}

.card__btn:hover {
  background-color: var(--green-700);
}

.cart-icon {
  width: 20px;
  height: 20px;
  stroke: white;
}

/* --- DESKTOP VIEW--- */
@media (min-width: 600px) {
  .card {
    flex-direction: row;
    max-width: 600px;
    align-items: stretch;
  }

  .card__image-container .img-mobile {
    display: none;
  }

  .card__image-container .img-desktop {
    display: block;
  }

  .card__image-container,
  .card__content {
    flex: 1;
    width: 50%;
  }

  .card__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
